<link rel="stylesheet" href="~/css/style.css">
@model Product

<h2 class="linkHeader"><a href="/">Products</a> | <a href="categories">Categories</a></h2>
<h2 style="text-align: center;">@Model.ProductName</h2>
<div class="productsMainDiv">
    <div>
        <h3>Categories</h3>
        @foreach (var c in Model.ProductCategory)
        {
            if(c.Category != null)
            {
                <p>@c.Category.CategoryName</p>
            }
        }
    </div>
    <div>
        <h3>Add Category</h3>
        <form method="post" asp-controller="Product" asp-action="AddProductCategory">
            <select >
                <partial name="AddCategorytoProductPartial.cshtml" />
            </select>
            <input type="submit" value="Add Category">
        </form>
    </div>
</div>
