<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>
<body>
    <h1 class="navHeader"><a href="/">Home</a> | Projects | <a href="/Contact">Contact</a></h1>
    <h1 class="navHeader">My Projects</h1>
    <div class="projectsMain">
        @{
            for (int i = 1; i <= 4; i++)
            {
                <div class="projectDiv">
                    <img src="~/img/sal.webp" alt="sal">
                    <div class="projectContent">
                        <h1>Project @i</h1>
                        <p>This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text This is filler text </p>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>