<link rel="stylesheet" href="~/css/style.css">
@model Wedding

@Context.Session.GetInt32("userId")
<div class="dashboardHeader">
    <h3>Welcome @ViewBag.User.FirstName!</h3>
    <div class="dashboardHeaderLinks">
        <p><a href="/dashboard">Home</a> | Plan a Wedding | <a href="/logout">Logout</a></p>
    </div>
</div>
<h2>Plan a Wedding</h2>
<form method="post" asp-controller="Wedding" asp-action="CreateWedding">
    <div>
        <label asp-for="Wedder1">Wedder One:</label>
        <input type="text" asp-for="Wedder1">
    </div>
    <div>
        <label asp-for="Wedder2">Wedder Two:</label>
        <input type="text" asp-for="Wedder2">
    </div>
    <div>
        <label asp-for="WeddingDate">Date:</label>
        <input type="date" asp-for="WeddingDate">
    </div>
    <div>
        <label asp-for="WeddingAddress">Address:</label>
        <input type="text" asp-for="WeddingAddress">
    </div>
    <input type="submit" value="Add Wedding">
</form>