@{
    ViewData["Title"] = "Home Page";
}
@model Survey;

<form action="Results" method="post">
    <label for="Name">Name:</label>
    <input type="text" name="Name">
    <label for="Location">Location:</label>
    <input type="text" name="Location">
    <label for="Language">Favorite Language</label>
    <select name="Language" id="Language">
        <option value="C#">C#</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Java">Java</option>
    </select>
    <label for="Comment">Comments:</label>
    <textarea name="Comment" id="Comment" cols="30" rows="10"></textarea>
    <input type="submit">
</form>