@model Survey;

<div>
    <h3>Name:</h3>
    <h3>@Model.Name</h3>
</div>
<div>
    <h3>Location:</h3>
    <h3>@Model.Location</h3>
</div>
<div>
    <h3>Favorite Language:</h3>
    <h3>@Model.Language</h3>
</div>
<div>
    <h3>Comments:</h3>
    <h3>@Model.Comment</h3>
</div>