@model LoginEmployee

<form method="post" asp-controller="Employee" asp-action="LoginEmployee" class="registerForm">
    <div class="inputDiv">
        <label asp-for="LoginEmail">Email:</label>
        <input type="email" asp-for="LoginEmail" class="input">
    </div>
    <div class="inputDiv">
        <label asp-for="LoginPassword"></label>
        <input type="password" asp-for="LoginPassword" class="input">
    </div>
    <div class="submitDiv">
        <input type="submit" value="Login" class="submitButton">
    </div>
</form>