<link rel="stylesheet" href="~/css/style.css">
@model Dish

<h1 class="indexHeader">Add a New Dish</h1>
<h3 class="linkHeader"><a href="/">Home</a> | Add a Dish</h3>
<form method="post" asp-action="Create" asp-controller="Home" class="addDishMain">
    <div class="addDishLeft">
        <div class="addDishInput">
            <label asp-for="Chef">Chef's Name</label>
            <input type="text" asp-for="Chef">
        </div>
        <div class="addDishInput">
            <label asp-for="Name">Name of Dish</label>
            <input type="text" asp-for="Name">
        </div>
        <div class="addDishInput">
            <label asp-for="Calories"># of Calories</label>
            <input type="number" asp-for="Calories">
        </div>
    </div>
    <div class="addDishMid">        
        <div class="addDishInput">
            <label asp-for="Tastiness">Tastiness</label>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>
        </div>
    </div>
    <div class="addDishRight">
        <div class="addDishInput">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Add Dish" class="addDishSubmit">
    </div>
</form>