<link rel="stylesheet" href="~/css/style.css">
@model User

<div class="indexMainDiv">
    <div class="indexMainDivLeft">
        <h1>Register</h1>
        <form method="post" asp-controller="User" asp-action="RegisterUser" class="indexRegisterFormDiv">
            <div class="indexRegisterInputDiv">
                <label asp-for="FirstName">First Name:</label>
                <input type="text" asp-for="FirstName">
            </div>
            <div class="indexRegisterInputDiv">
                <label asp-for="LastName">Last Name:</label>
                <input type="text" asp-for="LastName">
            </div>
            <div class="indexRegisterInputDiv">
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email">
            </div>
            <div class="indexRegisterInputDiv">
                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password">
            </div>
            <div class="indexRegisterInputDiv">
                <label asp-for="Confirm">Confirm Password:</label>
                <input type="password" asp-for="Confirm">
            </div>
            <div class="indexRegisterSubmitDiv">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
    <div class="indexMainDivRight">
        <h1>Login</h1>
        <partial name="LoginUserPartial" />
    </div>
</div>